In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import sklearn

In [2]:
df = pd.read_csv('./50_Startups.csv')

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
# check null values

In [5]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

### convert the categorical data to numerical data

In [6]:
df['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [7]:
len(df)

50

In [8]:
df['State'].value_counts()

New York      17
California    17
Florida       16
Name: State, dtype: int64

In [9]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [12]:
a = pd.get_dummies(df['State'] , drop_first=True)

In [13]:
a

    Florida  New York
0         0         1
1         0         0
2         1         0
3         0         1
4         1         0
5         0         1
6         0         0
7         1         0
8         0         1
9         0         0
10        1         0
11        0         0
12        1         0
13        0         0
14        1         0
15        0         1
16        0         0
17        0         1
18        1         0
19        0         1
20        0         0
21        0         1
22        1         0
23        1         0
24        0         1
25        0         0
26        1         0
27        0         1
28        1         0
29        0         1
30        1         0
31        0         1
32        0         0
33        1         0
34        0         0
35        0         1
36        1         0
37        0         0
38        0         1
39        0         0
40        0         0
41        1         0
42        0         0
43        0         1
44        0         0
45        0         1
46        1         0
47        0         0
48        0         1
49        0         0

In [14]:
# add a to df

df = pd.concat([df,a] , axis=1)

In [15]:
df.head()

,R&D Spend,Administration,Marketing Spend,State,Profit,Florida,New York
0,165349.20,136897.80,471784.10,New York,192261.83,0,1
1,162597.70,151377.59,443898.53,California,191792.06,0,0
2,153441.51,101145.55,407934.54,Florida,191050.39,1,0
3,144372.41,118671.85,383199.62,New York,182901.99,0,1
4,142107.34,91391.77,366168.42,Florida,166187.94,1,0

In [16]:
df = df.drop(['State'] , axis = 1)

In [17]:
df.head()

   R&D Spend  Administration  Marketing Spend     Profit  Florida  New York
0  165349.20       136897.80        471784.10  192261.83        0         1
1  162597.70       151377.59        443898.53  191792.06        0         0
2  153441.51       101145.55        407934.54  191050.39        1         0
3  144372.41       118671.85        383199.62  182901.99        0         1
4  142107.34        91391.77        366168.42  166187.94        1         0

In [18]:
# split the data

In [21]:
x = df.drop(['Profit'],axis=1)
y = df['Profit']

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [24]:
len(X_train) , len(y_train)

(40, 40)

In [25]:
len(X_test) , len(y_test)

(10, 10)

In [26]:
# give the data to the model 

from sklearn.linear_model import LinearRegression

In [27]:
reg = LinearRegression()

In [28]:
reg.fit(X_train , y_train)

LinearRegression()

In [29]:
# m values 
reg.coef_

array([ 8.05630064e-01, -6.87878823e-02,  2.98554429e-02,  9.38793006e+02,
        6.98775997e+00])

In [33]:
# c value 
reg.intercept_

54028.03959364584

# model 

y = 8.05630064e-01*x1+-6.87878823e-02*x2+2.98554429e-02*x3+9.38793006e+02*x4+6.98775997e+00*m5+54028.03959364584

In [31]:
# train accuracy:

In [32]:
y_train_pred = reg.predict(X_train)

In [34]:
from sklearn.metrics import r2_score

In [35]:
print(f'train accuracy : {r2_score(y_train,y_train_pred)}')

train accuracy : 0.9537019995248526

In [36]:
print(f'train loss : {1-r2_score(y_train,y_train_pred)}')

train loss : 0.04629800047514743

In [37]:
# test_accuracy

In [38]:
y_test_pred = reg.predict(X_test)

In [39]:
print(f'test accuracy : {r2_score(y_test,y_test_pred)}')

test accuracy : 0.8987266414328636

In [40]:
print(f'test loss : {1-r2_score(y_test,y_test_pred)}')

test loss : 0.10127335856713637

In [41]:
# predition with our own data

In [42]:
X_train.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Florida',
       'New York'],
      dtype='object')

In [43]:
reg.predict([[1.4 , 5.5 , 10 , 0 , 0]])

C:\Users\korla\anaconda3\envs\myenv\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([54029.08769681])